<!DOCTYPE html>
<html lang="en">
<head>
  <title>JavaScript Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
</head>
<body>

<div class="container">
  <h2>Movie form</h2>
  <form  method="post" class="form-horizontal" action="/update-form" enctype="multipart/form-data">
    <div class="form-group">
      <label class="control-label col-sm-2" for="title">Title:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title" value="<%= data.title %>">
        <input type="hidden" class="form-control" id="title" placeholder="Enter Title" name="id" value="<%= data.id %>">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="description">Description:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="description" placeholder="Enter Description" name="description" value="<%= data.description %>">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="image">Image:</label>
      <div class="col-sm-10">          
        <input type="file" class="form-control" id="image"  name="image" value="<%= data.image %>">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="rating">Rating:</label>
      <div class="col-sm-10">          
        <input type="number" class="form-control"   name="rating" value="<%= data.rating %>">
      </div>
    </div>
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>
